_auth="ZnJvbnRlbmQtZmxvd3hkZXY6dUpKVmNFNG50M0dRSFdnKzIwMjE="
    email=adi.s+frontendnpm@flowx.ai
    registry=https://nexus-jx.dev.rd.flowx.ai/repository/npm-group/
    always-auth=true
    strict-ssl=true
