@import 'fonts';

$primary: #217ce2;
$green: #008060;
$secondary: #fff3be;
$text-color: #414751;

$flowx-blue: $primary;
$flowx-green: $green;
$flowx-red: #d11751;
$warning: #eaa106;
$background1: #fafbfd;
$background2: #ffffff;
$background3: #c3c8d4;


html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

body {
  background: #fafbfd;
  color: $text-color;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
